
@{
    ViewData["Title"] = "ProductNPrices";
}




/*Title Format*/
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product & Prices</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1 class="title">Product & Prices</h1>
</body>
</html>


<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>


<div class="catalog">
    <div class="puppy-item">
        <img src="~/Images/Nuetralbowl.jpg" alt="Nuetral Bowl">
        <h2>Nuetal Gender Bowl</h2>
        <button class="add-to-cart">Add to Cart</button>
        
       <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/naturalwanderzshampoo.jpg" alt="Natural Wanderz Shampoo">
        <h2>Natural Wanderz Shampoo</h2>
        <button class="add-to-cart">Add to Cart</button>
       <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/puppybed.jpg" alt="Puppy Bed">
        <h2>Puppy Bed</h2>
        <button class="add-to-cart">Add to Cartt</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/Nutri SourceCrispyCrispersChickenSnacks.jpg" alt="Nutri Source Snacks">
        <h2>Nutri Source Snacks</h2>
        <button class="add-to-cart">Add to Cart</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
    </div>
</div>
